@page "/AddContact"
@using BlazorDirectory.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Agregar Contactos</h3>

<EditForm Model="@_contact" OnValidSubmit="Post">
    <DataAnnotationsValidator />
    <div class="container-fluid">
        <div class="form-group" row mb-1>
            <label>Nombre Contacto </label>
            <InputText class="form-control" style="text-transform:uppercase;" @bind-Value="_contact.name" />
            <ValidationMessage For="@(() => _contact.name)" />
        </div>
        <div class="form-group" row mb-1>
            <label>Telefono</label>
            <InputText class="form-control" type="number" @bind-Value="_contact.phoneNumber" />
            <ValidationMessage For="@(() => _contact.phoneNumber)" />
        </div>
        <div class="form-group" row mb-1>
            <label>Celular</label>
            <InputText class="form-control" type="number" @bind-Value="_contact.cellPhone" />
            <ValidationMessage For="@(() => _contact.cellPhone)" />
        </div>
        <br>
        <div class="form-group" row mb-1>
            <input type="submit" class="btn btn-success" value="Adicionar" />
        </div>
    </div>
</EditForm>

<div class="alert alert-secondary mt-4">
    <span class="oi oi-person me-2" aria-hidden="true"></span>
    <strong>Información del contacto</strong><br><br>

    <span class="text-nowrap">
        <p>Mensaje : @message</p>
    </span>
</div>

@code {
    private Contact _contact = new Contact();
    private string upperName = "";

    private string message = "";
    private async Task Post()
    {
        upperName = _contact.name.ToUpper();
        _contact.name = upperName;
        string searchResponse = await Http.GetStringAsync($"https://localhost:7163/api/contact/searchContact/{_contact.name}");
        if (searchResponse == _contact.name)
        {
            message = searchResponse+ " ya se encuentra el directorio telefonico no es necesario agregarlo nuevamente";
        }
        else
        {
            await Http.PostAsJsonAsync<Contact>("/api/contact/addContact", _contact);
            @* message = "El contacto "+_contact.name+ " fue agregado con exito"; *@
            Navigation.NavigateTo($"/ListContact");
        }
    }
}